# CI caches
.npm_cache/
.precommit_cache/
.pipenv_cache/


*.log
.cache
.DS_Store
src/.temp
node_modules
# dist
dist/demo.html
.env
.env.*
.nuxt
tests/__coverage__
test-report.html

dist/
build/

venv/

# sphinx html
docs/build


# Testcafe screenshots
**/e2e/screenshots/**/*-actual.png
**/e2e/screenshots/*-actual.png
**/e2e/screenshots/**/*-actual-diff.png
**/e2e/screenshots/*-actual-diff.png
**/e2e/screenshots/**/thumbnails
**/e2e/screenshots/thumbnails